.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.border1 {
  border: 1px solid red;
  border-radius: 38px;
  background: rgba(255, 255, 255, 0.2);
}

.border2 {
  background: rgba(255, 255, 255, 0.114);
  backdrop-filter: blur(22.101px);
  border-radius: 38px;
}

.links {
  display: flex;
  gap: 50px;
}

.links li {
  list-style: none;
  padding: 12px;
}

.navigation {
  text-decoration: none;
}
